<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-2.5.xsd
						http://www.springframework.org/schema/jee
						http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
						http://www.springframework.org/schema/tx
     					http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
 						http://www.springframework.org/schema/aop
     					http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
     					http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
     					
     					
     					
	<!-- Database Configuration  -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.microsoft.sqlserver.jdbc.SQLServerDriver</value>
		</property>
		<property name="url">
			<value>jdbc:sqlserver://Rikin-PC;databaseName=Inventory;
			</value>
		</property>
		<property name="username">
			<value>sa</value>
		</property>
		<property name="password">
			<value>sa1985</value>
		</property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<!-- <property name="mappingResources"> -->
		<!--  <property name="mappingLocations">
			<list>
				<value>classpath:resources/hibernate/*.hbm.xml</value>
			</list>
		</property>
		 --> 
		 <property name="annotatedClasses">
	<list>
		<value>com.untitle.inventory.model.UserMaster</value>
		<value>com.untitle.inventory.model.UserTypeMaster</value>
		<value>com.untitle.inventory.model.MenuMaster</value>
		<value>com.untitle.inventory.model.MenuAccess</value>
		<value>com.untitle.inventory.model.UOMMaster</value>
		<value>com.untitle.inventory.model.TaxMaster</value>
		<value>com.untitle.inventory.model.RangeMaster</value>
		<value>com.untitle.inventory.model.UnitMaster</value>
		<value>com.untitle.inventory.model.IngredientMaster</value>
		
	</list>
	
    </property>
 
		 <property name="hibernateProperties">
			<props>
				 <prop key="hibernate.dialect">org.hibernate.dialect.SQLServer2008Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="ServiceOperation" 
			expression="execution(* com.untitle.oas.services.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="ServiceOperation" />
	</aop:config>
	
		<!-- <import resource="controller.xml" /> -->
		<!-- <import resource="services/services.xml" />-->
		<import resource="dao/dao.xml" /> 
	
	 <context:annotation-config/>
	<context:component-scan base-package="com.untitle.inventory.service"/>
	<context:component-scan base-package="com.untitle.inventory.dao"/>
	<context:component-scan base-package="com.untitle.inventory.service.impl"/>
	<context:component-scan base-package="com.untitle.inventory.dao.impl"/> 
</beans>